.custom-alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    min-width: 400px;
    max-width: 90%;
}

.custom-alert p {
    margin: 0 0 15px;
    font-size: 16px;
}

.custom-alert button {
    padding: 8px 20px;
    background-color: #3470BF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.flash-messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 80%;
    max-width: 600px;
}

.flash {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
}

.flash.error {
    background-color: #699ce0;
}

.flash.success {
    background-color: #72ced3;
}

.flash.warning {
    background-color: #9912f3;
}

.flash.info {
    background-color: #1e4f6f;
}