{% extends 'base.html' %}

{% block content %}
<div class="cards" data-roomtype="{{ room.roomtype }}" data-price="{{ room.price }}" data-capacity="{{ room.capacity }}" data-city="{{ room.city }}">
    <div class="card">
        <img src="{{ url_for('static', filename='uploads/' ~ room.img) }}" alt="Фото помещения" class="room-image">
        <div class="details">
            <p class="info1">{{ room.roomtype }} {{ room.capacity }}м²</p>
            <p class="info2">{{ room.city }}</p>
            <p class="info2">{{ room.address }}</p>
            <p class="info3">Владелец: {{ room.name }}</p>
        </div>
        <div class="inf"><p class="info4">{{ room.price }}₽/сутки</p></div>
    </div>
</div>

<div class="form-container2">
        <h1>Арендовать</h1>
        <form method="post" class="user-form">
            <div class="form-group">
                <label for="date_begin">С</label>
                <input type="date" autocomplete="off" name="date_begin" id="date_begin" min="{{ today }}">
            </div>
            <div class="form-group">
                <label for="date_end">До</label>
                <input type="date" autocomplete="off" name="date_end" id="date_end" min="{{ today }}">
            </div>
            <div class="form-buttons">
                <button type="submit" class="registr">Забронировать</button>
            </div>
        </form>
</div>
{% endblock %}